{% extends "layout.html" %}
{% block content %}
    {% for user in users %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ user.Name }}</a>
              <small class="text-muted">{{ user.UserId }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ user.Email }}</a></h2>
            <p class="article-content">{{ user.PhoneNumber }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
